body {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.resizable {
  padding: 20px;
  background-color: #f4f4f4;
  width: 400px;
  height: 500px;
  resize: both;
  overflow: auto;
  max-width: 450px;
  max-height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px;
}

.icon-button {
  color: #606060;
  font-size: 24px;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

h1 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

.description {
  color: #606060;
  font-size: 16px;
  margin-bottom: 20px;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.toggle {
  height: 48px;
  width: 174px;
  border: none;
  font-size: 16px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #606060;
}

.toggle.active {
  background-color: #117a6f;
  color: white;
}

.slider-container {
  background-color: #fbfbfb;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.slider-label {
  font-weight: 700;
}

.subfont-description {
  font-size: 12px;
  color: #606060;
  margin-top: 5px;
  margin-bottom: 15px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(to right, #117a6f 0%, #d9d9d9 0%);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #000;
  cursor: pointer;
}

.emoji-track {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: #ffffff;
  border: 2px solid #117a6f;
  color: #117a6f;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 20px;
  width: 45%;
  height: 56px;
}

.green-button {
  background-color: #117a6f;
  color: white;
}

.save-option {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.save-option input[type="checkbox"] {
  margin-right: 10px;
}

.loading-screen {
  display: none;
  text-align: center;
  font-size: 16px;
  color: #606060;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

.preview-panel {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  margin-top: 26px;
  display: none; /* Initially hidden */
}

.preview-label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.preview-content {
  font-weight: 300;
  font-size: 14px;
  color: #606060;
}
